*               @tesserafin/core
# The repo owner must review all changes to bump_version
bump_version    @tesserafin/core
# The repo owner must approve all changes within the repo config
.github/        @tesserafin/core
